In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# 1. 데이터 로드
airbnb_df = pd.read_csv('./data/Airbnb_Open_Data.csv',low_memory=False)

In [ ]:
# 2. 데이터 구조 및 기초 통계 확인
# df.head(), df.info(), df.describe()

def drop_column(df,column_list):
    df = df.dropna(subset=['cancellation_policy', 'neighbourhood', 'Construction year'])
    for column_name in column_list:
        df = df.drop(column_name,axis=1)
    return df

In [ ]:
def cancellation_policy(x):


df = df.drop('Cabin', axis=1)
df

In [36]:
airbnb_df.describe()
columns = [
    "host name",
    "country",
    "country code",
    "calculated host listings count",
    "license",
    "house_rules",
    "last review",
    "instant_bookable",
    "long",
    "lat",
    "neighbourhood group",
    "NAME",
    "host id",
    "host_identity_verified"
]

df = drop_column(airbnb_df,columns)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   102599 non-null  int64
 1   neighbourhood        102583 non-null  object
 2   cancellation_policy  102523 non-null  object
 3   room type            102599 non-null  object
 4   Construction year    102385 non-null  float64
 5   price                102352 non-null  object
 6   service fee          102326 non-null  object
 7   minimum nights       102190 non-null  float64
 8   number of reviews    102416 non-null  float64
 9   reviews per month    86720 non-null   float64
 10  review rate number   102273 non-null  float64
 11  availability 365     102151 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 9.4+ MB

In [ ]:
df.isnull().sum()

np.int64(102523)

In [40]:
df.describe()

,id,Construction year,minimum nights,number of reviews,reviews per month,review rate number,availability 365
count,1.025990e+05,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102151.000000
mean,2.914623e+07,2012.487464,8.135845,27.483743,1.374022,3.279106,141.133254
std,1.625751e+07,5.765556,30.553781,49.508954,1.746621,1.284657,135.435024
min,1.001254e+06,2003.000000,-1223.000000,0.000000,0.010000,1.000000,-10.000000
25%,1.508581e+07,2007.000000,2.000000,1.000000,0.220000,2.000000,3.000000
50%,2.913660e+07,2012.000000,3.000000,7.000000,0.740000,3.000000,96.000000
75%,4.320120e+07,2017.000000,5.000000,30.000000,2.000000,4.000000,269.000000
max,5.736742e+07,2022.000000,5645.000000,1024.000000,90.000000,5.000000,3677.000000

In [43]:
df.isnull().sum()

id                         0
neighbourhood             16
cancellation_policy       76
room type                  0
Construction year        214
price                    247
service fee              273
minimum nights           409
number of reviews        183
reviews per month      15879
review rate number       326
availability 365         448
dtype: int64

TypeError: '>' not supported between instances of 'float' and 'str'